# Add this to your .gitignore to keep credentials secure
.env.local
.env
*.env
extension/nul
node_modules/
dashboard/node_modules/
node_modules/
*/node_modules/
**node_modules**
node_modules/
*/node_modules/
**/node_modules/
