/* stylelint-disable */
/* eslint-disable */
/* Allow Tailwind's at-rules and PostCSS processing */
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  color: #fff;
  min-height: 100vh;
}
